<!-- image -->
{{ $original := .Page.Resources.GetMatch (printf "%s*" (.Get "src")) }}
{{ $extension := index (last 1 (split $original.Name ".")) 0 }}
{{ if eq $extension "svg" }}
    {{ .Scratch.Set "image_big" ($original) }}
    {{ .Scratch.Set "image_medium" ($original) }}
    {{ .Scratch.Set "image_small" ($original) }}
{{ else }}
    {{ .Scratch.Set "image_big" ($original.Resize (printf "%s%s" $.Site.Params.big_imgsize "x q60 Lanczos")) }}
    {{ .Scratch.Set "image_medium" ($original.Resize (printf "%s%s" $.Site.Params.med_imgsize "x q60 Lanczos")) }}
    {{ .Scratch.Set "image_small" ($original.Resize (printf "%s%s" $.Site.Params.sml_imgsize "x q60 Lanczos")) }}
{{ end }}
{{ $image_small := .Scratch.Get "image_small" }}
{{ $image_medium := .Scratch.Get "image_medium" }}
{{ $image_big := .Scratch.Get "image_big" }}
{{ $srcset := printf "%s %sw, %s %sw, %s %sw" $image_small.RelPermalink $.Site.Params.sml_imgsize $image_medium.RelPermalink $.Site.Params.med_imgsize $image_big.RelPermalink $.Site.Params.big_imgsize }}

{{ $alt := .Get "alt" }}
{{ $desc := .Get "desc" | markdownify }}
{{ $attr := .Get "attr" }}

{{ if (isset .Parent "Name") }}

<figure {{ with .Get "style" }}style="{{.}}"{{ end }} >
    <img alt="{{ .Get "alt" }}"
        src="{{ $image_medium.RelPermalink }}"
        srcset="{{ $srcset }}"
        class="image {{ if eq $extension "svg" }}is-shadowless{{ end }}"/>
    <figcaption>
        {{ if $desc }}
            <p>{{ $desc }}</p>
        {{ else }}
            <p>{{$alt}}</p>
        {{ end }}
        <cite>© {{ $attr }}</cite>
    </figcaption>
</figure>

{{ else }}

<div x-data="{ open: false }">
<figure class="modal-figure" {{ with .Get "style" }}style="{{.}}"{{ end }}  @click="open = true">
    <img alt="{{ .Get "alt" }}"
        src="{{ $image_small.RelPermalink }}"
        srcset="{{ $srcset }}"
        class="image modal-button {{ if eq $extension "svg" }}is-shadowless{{ end }}"
        @click="open = true"
    />
    <figcaption>
        <cite>© {{ $attr }}</cite>
    </figcaption>
</figure>

<div class="modaal" x-show="open">
        <article class="{{ if eq $extension "svg" }}box{{ end }}">
            {{ if len .Inner }}
                {{ .Inner }}
            {{ else }}
            <figure>
                <img alt="{{ .Get "alt" }}"
                    src="{{ $image_medium.RelPermalink }}"
                    srcset="{{ $srcset }}"
                    class="image"/>
                <figcaption>
                    {{ if $desc }}
                        <p>{{ $desc }}</p>
                    {{ else }}
                        <p>{{$alt}}</p>
                    {{ end }}
                    <cite>© {{ $attr }}</cite>
                </figcaption>
            </figure>
            {{ end }}
        </article>
        <button class="close" @click="isOpened = false"></button>
</div>
</div>

{{ end }}
<!-- image -->
